/ #x
/ #y

/ #text

/ %br

/ = form_tag '/' do
/   = text_field_tag 'name'
/   = text_field_tag 'age'
/   = submit_tag 'enter data'


%h1 advanced jquery
.one 1a
.one 1b
.one 1c
.two 2a
.two 2b
.list
  %ul
    %li a
    %li b
    %li c
    %li
      %p
        %span super deep nesting