- if object.errors.any?
  %h6
    %small= "Fix the following #{pluralize(object.errors.count, 'error')}"
  %ul
    - object.errors.full_messages.each do |msg|
      %li
        %h6
          %small= msg