.row
  .five.columns

    - if @genre.errors.any?
      %ul
        - @genre.errors.full_messages.each do |msg|
          %li
            %span.label.alert.radius= msg

    = form_for @genre do |f|
      =f.label :name
      =f.text_field :name, :autofocus => true
      =f.submit nil, :class => 'button radius'
  .seven.columns