%p.editlink= link_to('Edit Artist', edit_artist_path(@artist), :class => 'button radius') if is_admin

%h2= @artist.name
= image_tag(@artist.image)

%ul
  - @artist.albums.uniq.each do |album|
    %li= link_to(album.name, album_path(album.id))