      <li class="has-flyout">
        <%= link_to('Mixtapes', '#') %>
        <a href="#" class="flyout-toggle"><span> </span></a>
        <ul class="flyout">
          <% @auth.mixtapes.order(:name).each do |mixtape| %>
            <li><%= link_to(mixtape.name, mixtape) %></li>
          <% end %>
          <li><%= link_to('New Mixtape', new_mixtape_path) %></li>
        </ul>
      </li>