$magenta: #ff0d88;

$red: #ff2400;
$dark-red: #e80c0e;

$light-orange: #ff760d;
$dark-orange: #e84b0c;

$cream: #fff8e4;
$light-cream: #fffaed;
// $light-cream: #fffdf6;

$dark-grey: #444;
$grey: #222;

$light-blue: #0de3ff;
$med-blue: #009eb2;