@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800,900|Raleway+Dots|Codystar|Fascinate);

$head3: 'Fascinate', cursive;
$head: 'Raleway Dots', cursive;
$main: 'Raleway', sans-serif;
$head2: 'Codystar', cursive;